* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display: flex; 
    flex-direction: row;
    background-color: rgba(247, 235, 212, 0.848);
} 
.login{
    display: flex;
    flex-direction: column;
    align-self:center;
    position: sticky;
    margin-top: 30vh;
    left: 40vw;
    margin-left: 10vw;
    width: 200px;
    background-color: azure;
    padding: 50px;
    border-radius: 10px;
}

.loginButton{
    padding-top: 15px;
}

.user {
    border: 1px solid green;
    color:green;
}
    
.left{
    justify-self: flex-start;
    float: left;
    background-color: aquamarine;
    padding: 20px;
    height: 100vh;
    margin-left: -8px;
    margin-top: -8px;
}

.tasklistBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 20vw;
    background-color: bisque;
    height: 70vh;
    width: 50vw;
    
}