body {
    flex-direction: column;
    display: flex;
    background-color: rgba(247, 235, 212, 0.848);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgba(177, 119, 1, 0.601);
    margin: auto;
    max-width: max-content;
}

div {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: black
}